<div [ngClass]="Model.Open && Model.Draggable ? 'play-card selectable-card' : 'play-card'" #card
  [class.hide]="!Model.Visible"
  cdkDrag
  [cdkDragDisabled]="!Model.Open || !Model.Draggable"
  [cdkDragData]="Model"
  (cdkDragStarted)="dragStarted($event)"
  (cdkDragEnded)="dragEnded($event)"
  (cdkDragMoved)="dragMoved($event)"
  >
  <app-card-color [Model]="Model"></app-card-color>
  <div *cdkDragPlaceholder></div>

  <div #dragged *cdkDragPreview>
    <app-card *ngFor="let card of DraggedModel" [Model]="card"></app-card>
  </div>
</div>
