@import 'cardsize';

$card-center-left: 14px;

.play-card {
  position: absolute;
  width: $card-width;
  height: $card-height;
  border: black solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back {
  margin-top: 3px;
  width: $card-width - 10px;
  height: $card-height - 10px; 
  border-radius: 4px;
  border: black solid 1px;
}

.top-value {
  position: absolute;
  top: 3px;
  left: 2px;
  display: inline-block;
  text-align: center;
}

.bottom-value {
  position: absolute;
  bottom: 3px;
  right: 2px;
  display: inline-block;
  text-align: center;
}

.value-font {
  font-family: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 8pt;
  letter-spacing: -0.6px;
}

.face-icon {
  margin-top: 1px;
  width: 8px;
}

.card-center {
  position: absolute;
  top: 10px;
  left: $card-center-left;
  width: $card-width - (2 * $card-center-left) - 2;
  height: $card-height - 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-column {
  display: grid;
  justify-items: center;
  width: 100%;
  height: $card-height - 22px;
//  background-color: orange;
}

.two-columns {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  column-gap: 5px;
  width: 100%;
  height: $card-height - 22px;
}

.three-rows {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  width: 100%;
  height: $card-height - 22;
}

.three-columns {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  height: $card-height - 22;
  column-gap: 1px;;
  justify-items: stretch;  
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.spc-betw {
  justify-content: space-between;
}

.spc-even {
  justify-content: space-evenly;
}

.sub-row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  column-gap: 5px;
  width: 100%;
}

.face-column-item {
  //align-self: middle;
  place-self: center;
}

.face-img-w {
  width: $card-width - (2 * $card-center-left) - 34;  
}

.as-img-w {
  width: $card-width - (2 * $card-center-left) - 12;
}

.flip-xy {
  transform: scale(-1, -1);
}

.flip-y {
  transform: scaleY(-1);
}

.flip-x {
  transform: scaleX(-1);
}

.vab {
  vertical-align: bottom;
}

.vat {
  vertical-align: top;
}

.vam {
  vertical-align: middle;
}

.ass {
  align-self: start;
}

.ase {
  align-self: end;
}

.tac {
  text-align: center;
}

.orange {
  background-color: orange;
}

.cpc { 
  width: 100%;
}

.cpch {
  height: 100%;
}
.hid { visibility: hidden;}

.red {
  color: red;
}

.black {
  color: black;
}