@import 'cardsize';

.play-card {
  position: absolute;
  width: $card-width;
  height: $card-height;
  border: black solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.selectable-card {
  cursor: move;
}

.selectable-card:hover {
  border-color: #92abff;
  background-color: #cfdaff;
}

// .cdk-drop-dragging .cdk-drag {
//   transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
// }

.cdk-drag-animating {
  transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);
}