<div class='game-board' cdkDropListGroup>

  <div class='closed-deck place-holder' [ngClass]="{'cur-pointer': closedPile.length>0}"  title='Click to flip cards' (click)="closedPileClick($event)">
    <app-card *ngFor="let card of closedPile" [Model]="card"></app-card>
    <img *ngIf="closedPile.length === 0" (click)="reloadClick($event)" src='assets/reload.png' alt='Reload' class='reload-img' />
  </div>

  <div class='opened-deck place-holder' id='deck-open' cdkDropList cdkDropListSortingDisabled [cdkDropListData]="openPile">
    <app-card *ngFor="let card of openPile" [Model]="card"></app-card>
  </div>

  <!-- 4 'Sky' Slots -->

  <div class='sky-1 place-holder' id='sky1' cdkDropList cdkDropListSortingDisabled [cdkDropListData]="skyPiles[0]"
    (cdkDropListDropped)="drop($event)">
    <app-card *ngFor="let card of skyPiles[0]" [Model]="card"></app-card>
  </div>

  <div class='sky-2 place-holder' id='sky2' cdkDropList cdkDropListSortingDisabled [cdkDropListData]="skyPiles[1]"
    (cdkDropListDropped)="drop($event)">
    <app-card *ngFor="let card of skyPiles[1]" [Model]="card"></app-card>
  </div>

  <div class='sky-3 place-holder' id='sky3' cdkDropList cdkDropListSortingDisabled [cdkDropListData]="skyPiles[2]"
    (cdkDropListDropped)="drop($event)">
    <app-card *ngFor="let card of skyPiles[2]" [Model]="card"></app-card>
  </div>

  <div class='sky-4 place-holder' id='sky4' cdkDropList cdkDropListSortingDisabled [cdkDropListData]="skyPiles[3]"
    (cdkDropListDropped)="drop($event)">
    <app-card *ngFor="let card of skyPiles[3]" [Model]="card"></app-card>
  </div>

  <!-- 7 Columns Slots -->

  <div class='col-1' id='col1' cdkDropList cdkDropListSortingDisabled [cdkDropListData]="colPiles[0]"
    (cdkDropListDropped)="drop($event)">
    <div class='place-holder'>
      <app-card *ngFor="let card of colPiles[0]" [Model]="card"></app-card>
    </div>
  </div>

  <div class='col-2' id='col2' cdkDropList cdkDropListSortingDisabled [cdkDropListData]="colPiles[1]"
    (cdkDropListDropped)="drop($event)">
    <div class='place-holder'>
      <app-card *ngFor="let card of colPiles[1]" [Model]="card"></app-card>
    </div>
  </div>

  <div class='col-3' id='col3' cdkDropList cdkDropListSortingDisabled [cdkDropListData]="colPiles[2]"
    (cdkDropListDropped)="drop($event)">
    <div class='place-holder'>
      <app-card *ngFor="let card of colPiles[2]" [Model]="card"></app-card>
    </div>
  </div>

  <div class='col-4' id='col4' cdkDropList cdkDropListSortingDisabled [cdkDropListData]="colPiles[3]"
    (cdkDropListDropped)="drop($event)">
    <div class='place-holder'>
      <app-card *ngFor="let card of colPiles[3]" [Model]="card"></app-card>
    </div>
  </div>

  <div class='col-5' id='col5' cdkDropList cdkDropListSortingDisabled [cdkDropListData]="colPiles[4]"
    (cdkDropListDropped)="drop($event)">
    <div class='place-holder'>
      <app-card *ngFor="let card of colPiles[4]" [Model]="card"></app-card>
    </div>
  </div>

  <div class='col-6' id='col6' cdkDropList cdkDropListSortingDisabled [cdkDropListData]="colPiles[5]"
    (cdkDropListDropped)="drop($event)">
    <div class='place-holder'>
      <app-card *ngFor="let card of colPiles[5]" [Model]="card"></app-card>
    </div>
  </div>

  <div class='col-7' id='col7' cdkDropList cdkDropListSortingDisabled [cdkDropListData]="colPiles[6]"
    (cdkDropListDropped)="drop($event)">
    <div class='place-holder'>
      <app-card *ngFor="let card of colPiles[6]" [Model]="card"></app-card>
    </div>
  </div>
</div>
